.instructorCard {
  position: absolute;
  width: 900px;
  height: 1366px;
  left: 451px;
  top: 179px;

  background: #ffffff;

  /* Card Outline - Blue */
  border: 1px solid rgba(0, 168, 255, 0.4);
  box-sizing: border-box;

  /* Card Dropshadow */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}
.avatar__video {
  position: absolute;
  width: 900px;
  height: 200px;

  top: 130px;
  /* display: flex; */
  /* justify-content: space-between; */
  background: rgba(196, 196, 196, 0.2);
}
.inst__video {
  position: absolute;
  width: 330px;
  height: 200px;
  left: 509px;
  top: 0px;
  background-position: center !important;
  background-size: cover !important;
  background: url("./intro-video-placeholder.jpg");
}
.avatar__info {
  position: absolute;
  width: 360px;
  height: 200px;
  left: 79px;
  top: 0px;
  /* background-color: #ffffff; */
  /* background-position: center !important; */
  /* background-size: cover !important; */
  /* background: url("./intro-video-placeholder.jpg"); */
}
.avatar__name > img {
  height: 109px;
  margin-right: 40px;
}
.avatar__name > h2 {
  color: #15294b;
}
.avatar__name {
  padding-top: 20px;
  padding-left: 50px;
  display: flex;

  align-items: center;
}
.inst__social {
  display: flex;
  justify-content: space-between;
  max-width: 150px;
  padding-top: 20px;
  padding-left: 50px;
}
.inst__social > img {
  height: 40px;
}
.inst__stats {
  position: absolute;
  width: 900px;
  height: 200px;
  /* left: 533px; */
  top: 359px;
  padding-top: 20px;
  padding-left: 40px;
  /* background-color: #d0d1d3; */
}
.inst__stats > h2 {
  text-decoration: underline;
  margin-bottom: 20px;
}
.inst__statsValue {
  padding-left: 20px;
  display: flex;
}
.stats__center {
  margin-right: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.stats__center > h4 {
  font-size: 40px;
  color: rgb(100, 8, 8);
}
.stats__center > p {
  color: gray;
}

.inst__expertise {
  position: absolute;
  width: 900px;
  border-bottom: 1px solid lightblue;
  height: 300px;
  /* left: 533px; */
  top: 539px;
  padding-top: 20px;
  padding-left: 40px;
  /* background-color: #d0d1d3; */
}
.inst__expertise > h2 {
  text-decoration: underline;
  margin-bottom: 20px;
}
.inst__expertiseValue {
  padding-left: 20px;
  display: flex;
}
.stats__expertcenter {
  margin-right: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.stats__expertcenter > h4 {
  font-size: 40px;
  color: rgb(100, 8, 8);
}
.stats__expertcenter > p {
  color: gray;
}
.inst__container {
  position: absolute;
  width: 728px;
  height: 210px;

  top: 1002px;
  padding-top: 20px;
  padding-left: 50px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  /* or 219% */
  text-align: justify;
  letter-spacing: 0.1em;

  color: rgba(0, 0, 0, 0.6);
}
.inst__container > h5 {
  text-decoration: underline;
  font-weight: 600;
  margin-bottom: 20px;
}
.inst__tagline {
  position: absolute;
  width: 728px;
  height: 35px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  padding-left: 50px;
  top: 876px;
  color: rgba(0, 0, 0, 0.6);
}
.inst__tagline > h5 {
  text-decoration: underline;
  font-weight: 600;
  margin-bottom: 20px;
}
